organizations/button.seller/organization/peerOrganizations/seller.ledzeppelin.com/msp/
organizations/button.seller/organization/peerOrganizations/seller.ledzeppelin.com/peers/
organizations/button.seller/organization/peerOrganizations/seller.ledzeppelin.com/users/
organizations/custom/organization/peerOrganizations/custom.metallica.gov/users/
organizations/custom/organization/peerOrganizations/custom.metallica.gov/peers/
organizations/custom/organization/peerOrganizations/custom.metallica.gov/msp/
organizations/shipping/organization/peerOrganizations/shipping.acdc.com/msp/
organizations/shipping/organization/peerOrganizations/shipping.acdc.com/peers/
organizations/shipping/organization/peerOrganizations/shipping.acdc.com/users/
organizations/button.buyer/organization/peerOrganizations/buyer.gunsnroses.com/msp/
organizations/button.buyer/organization/peerOrganizations/buyer.gunsnroses.com/peers/
organizations/button.buyer/organization/peerOrganizations/buyer.gunsnroses.com/users/
organizations/network/channel-artifacts/
organizations/shipping/organization/peerOrganizations/shipping.acdc.com/users/
